version: "3.9"
services:
  backend:
    build: ./backend
    ports:
      - "5001:5000"
    env_file: .env
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
  db:
    image: postgres:15
    env_file: .env
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
